*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: grey;
    height: 600px;
}

header{
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
    height: 200px;
}

.header-container{
    display: flex;
    justify-content: space-around;
}

.header-item{
    background-color: brown;
    width: 200px;
    height: 200px;
}

nav{
    width: 500px;
    height: 200px;
    background-color: blueviolet;
}

ul{
    display: flex;
    justify-content: space-between ;
}

li{
    list-style: none
}

h1{
    color: white;
}

.container-titolo{
    margin: 0px 200px;
    background-color: bisque;
    height: 400px;
    text-align: center;
}

.section1{
    background-color: cadetblue;
    height: 600px;
}

.container-section1{
   width: 80%;
   margin: 0 auto;
   height: 600px;
   background-color: coral;
   border: 1px solid black;
   display: flex;
   justify-content: space-between;
}

.img-div{
    width: 50%;
    height: 300px;
    background-color: blue;
    margin-top: 150px;
    
}

.text-div{
    width: 49%;
    height: 300px;
    margin-top: 150px;
    background-color: red;
}

.section2{
    background-color: brown;
    height: 600px;
}
.section3{
    background-color: crimson;
    height: 600px;
}

.section4{
    background-color: wheat ;
    height: 800px;
}

.container-section4{
    width: 80%;
    margin: 0 auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-div2{
    width: 100%;
    height: 266px;
    margin-top: 30px;
    background-color: brown;
    border: 1px solid black;
}

.img-divbig{
    width: 100%;
    height: 266px;
    background-color: cornflowerblue;
    border: 1px solid black;
}

.text-div3{
    width: 100%;
    height: 266px;
    background-color: chartreuse;
    border: 1px solid black;
}

footer{
    height: 800px;
    background-color: dimgrey;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
    height: 600px;
    background-color: blueviolet;
}

.footer-flex1{
    width: 100%;
    height: 600px;
    background-color: brown;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.footer-item{
    flex-basis: 29%;
    height: 600px;
    background-color: green;
    border: 1px solid black;
}

.itembig{
    flex-basis: 40%;
    background-color: red;
}



.footer-flex2{
    width: 80%;
    margin: 0 auto;
    height: 200px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.box-item{
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;
    border: 1px solid black;
}





